.lifegame-born {
    border-color: #505050;
    background-color: #505050;
}

.lifegame-live {
    border-color: gray;
    background-color: gray;
}

.lifegame-dead {
    border-color: white;
    background-color: white;
}

.lifegame-control-live {
    border-color: #505050;
    background-color: #505050;
}

.lifegame-control-dead {
    border-color: white;
    background-color: white;
}