.lifegame-born {
    border-color: lime;
    background-color: lime;
}

.lifegame-live {
    border-color: lightgreen;
    background-color: lightgreen;
}

.lifegame-dead {
    border-color: white;
    background-color: white;
}

.lifegame-control-live {
    border-color: black;
    background-color: lime;
}

.lifegame-control-dead {
    border-color: black;
    background-color: black;
}