.lifegame-born {
    background-color: black;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.lifegame-live {
    background-color: black;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.lifegame-dead {
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}
