.lifegame-live, .lifegame-born, .lifegame-dead, .lifegame-control-live, .lifegame-control-dead {
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}