.lifegame-born {
    border-color: skyblue;
    background-color: aliceblue;
}

.lifegame-live {
    border-color: skyblue;
    background-color: azure;
}

.lifegame-dead {
    border-color: white;
    background-color: white;
}

.lifegame-control-live {
    border-color: skyblue;
    background-color: aliceblue;
}

.lifegame-control-dead {
    border-color: white;
    background-color: white;
}