ul.navigation {
  margin: 0 auto 1em;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

ul.navigation li {
  width: 156px;
  margin: 0;
  padding: 2px;
  float: left;
  text-align: center;
  font-family: "Gill Sans"
}
