[submodule "pasberth.github.io"]
	path = pasberth.github.io
	url = git@github.com:pasberth/pasberth.github.io.git
[submodule ".vendor/ocaml-jquery"]
	path = .vendor/ocaml-jquery
	url = https://github.com/pveber/ocaml-jquery
