[submodule "pasberth.github.io"]
	path = pasberth.github.io
	url = git@github.com:pasberth/pasberth.github.io.git
[submodule "vendor/reveal.js"]
	path = vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "vendor/pandoc-reveal"]
	path = vendor/pandoc-reveal
	url = https://gist.github.com/5017084.git
