@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("pasberth.github.io") {
.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 64px !important;
    height: 64px !important;
    margin: 8px !important;
    padding: 0 !important;

    border-style: none !important;
    border-top-left-radius: 0 0 !important;
    border-top-right-radius: 0 0 !important;
    border-bottom-left-radius: 0 0 !important;
    border-bottom-right-radius: 0 0 !important;
}

.lifegame-born {
    background-color: aliceblue !important;
}

.lifegame-live {
    background-color: aliceblue !important;
}

.lifegame-dead {
    background-color: white !important;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 5px !important;
    height: 5px !important;
    margin: 0 !important;
    padding: 0 !important;

    border-style: solid !important;
    border-color: aliceblue !important;
    border-width: 1px !important;

    border-top-left-radius: 0 0 !important;
    border-top-right-radius: 0 0 !important;
    border-bottom-left-radius: 0 0 !important;
    border-bottom-right-radius: 0 0 !important;
}

.lifegame-control-live {
    background-color: darkblue !important;
}

.lifegame-control-dead {
    background-color: azure !important;
}
}