@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("pasberth.github.io") {
.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 80px !important;
    height: 80px !important;
    margin: 0 !important;
    padding: 0 !important;

    border-style: none !important;
    border-top-left-radius: 0 0 !important;
    border-top-right-radius: 0 0 !important;
    border-bottom-left-radius: 0 0 !important;
    border-bottom-right-radius: 0 0 !important;
}

.lifegame-born, .lifegame-live {
    background-color: black !important;
}

.lifegame-dead {
    background-color: white !important;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 6px !important;
    height: 6px !important;
    margin: 0 !important;
    padding: 0 !important;

    border-style: none !important;
    border-top-left-radius: 0 0 !important;
    border-top-right-radius: 0 0 !important;
    border-bottom-left-radius: 0 0 !important;
    border-bottom-right-radius: 0 0 !important;
}

.lifegame-control-live {
    background-color: black !important;
}

}