@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("pasberth.github.io") {
.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 64px !important;
    height: 64px !important;
    margin: 8px !important;
    padding: 0 !important;

    border-width: 8px !important;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 6px !important;
    height: 6px !important;
    margin: 0 !important;
    padding: 0 !important;

    border-width: 1px !important;
}

}