@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("pasberth.github.io") {
.lifegame-born {
    border-color: lightpink !important;
    background-color: lightpink !important;
}

.lifegame-live {
    border-color: lightyellow !important;
    background-color: lightyellow !important;
}

.lifegame-dead {
    border-color: white !important;
    background-color: white !important;
}

.lifegame-control-live {
    border-color: darkblue !important;
    background-color: darkblue !important;
}

.lifegame-control-dead {
    border-color: lightgreen !important;
    background-color: lightgreen !important;
}
}