@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("pasberth.github.io") {
.lifegame-born {
    border-color: skyblue !important;
    background-color: aliceblue !important;
}

.lifegame-live {
    border-color: skyblue !important;
    background-color: azure !important;
}

.lifegame-dead {
    border-color: white !important;
    background-color: white !important;
}

.lifegame-control-live {
    border-color: skyblue !important;
    background-color: aliceblue !important;
}

.lifegame-control-dead {
    border-color: white !important;
    background-color: white !important;
}
}