<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ encoding }}" />
    {{ metatags }}
    {%- block htmltitle %}
    {% if title == "&lt;no title&gt;" %}
      <title>pasberth.github.io</title>
    {% else %}
      <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    {% endif %}
    {%- endblock %}

    <link rel="stylesheet" type="text/css" href="{{ pathto('_static/main.css', 1) }}" />
    <link rel="stylesheet" type="text/css" href="{{ pathto('_static/pygments.css', 1) }}" />
</head>
<body>

    <div class="body">
        {% block body %}{% endblock %}
    </div>

</body>
</html>