.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 40px;
    height: 40px;
    margin: 8px;
    padding: 0;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 4px;
    height: 4px;
    margin: 1px;
    padding: 0;
}