<!DOCTYPE html>
<html>
<head>
    <title>pasberth.github.io</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/lifegame.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="lib/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="js/lifegame.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>

<!-- Life game -->
    <div id="lifegame">
        <% for i in ENV["X"].to_i.times %>
            <% for j in ENV["Y"].to_i.times %>
        <div  id="lifegame-<%= i %>-<%= j %>" class="lifegame-dead" isLive="false"></div><% end %><% end %>
    </div>
<!-- Life game ends here-->

<!-- Main contents -->
<%= File.read "main.html" %>
<!-- Main contents ends here-->

</body>
</html>