.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 64px;
    height: 64px;
    margin: 8px;
    padding: 0;

    border-style: none;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

.lifegame-born {
    background-color: aliceblue;
}

.lifegame-live {
    background-color: aliceblue;
}

.lifegame-dead {
    background-color: white;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;

    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;

    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

.lifegame-control-live {
    background-color: darkblue;
}

.lifegame-control-dead {
    background-color: azure;
}