.lifegame-born, .lifegame-live, .lifegame-dead {
    width: 16px;
    height: 16px;
    margin: 32px;
    padding: 0;

    border-style: none;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

.lifegame-born {
    background-color: lime;
}

.lifegame-live {
    background-color: lightgreen;
}

.lifegame-dead {
    background-color: white;
}

.lifegame-control-live, .lifegame-control-dead {
    width: 6px;
    height: 6px;
    margin: 0;
    padding: 0;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

.lifegame-control-live {
    background-color: lime;
}

.lifegame-control-dead {
    background-color: black;
}
