<section class="content">
  <header><h1 class="content-title">Game of Life</h1></header>
  <div id="lifegame-control">
<%

for i in ENV["X"].to_i.times
  for j in ENV["Y"].to_i.times

%>
    <div id="lifegame-control-<%= i %>-<%= j %>-wrapper"><div id="lifegame-control-<%= i %>-<%= j %>" class="lifegame-control-dead"></div></div><% end %>
<% end %>
  </div>
</section>
