ul.gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

ul.gallery li {
 margin: 0;
 padding: 4px;
 float: left;
}

ul.gallery img {
  width: 96px;

  border: 2px solid white;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

div.frame img {
  width: 576px;

  border: 12px solid white;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.2);
}
