.lifegame-born {
    border-color: lightpink;
    background-color: lightpink;
}

.lifegame-live {
    border-color: lightyellow;
    background-color: lightyellow;
}

.lifegame-dead {
    border-color: white;
    background-color: white;
}

.lifegame-control-live {
    border-color: darkblue;
    background-color: darkblue;
}

.lifegame-control-dead {
    border-color: lightgreen;
    background-color: lightgreen;
}